[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[01D44D344F346920]
row=1
col=0

[CAD4A30AD4A2F7B9]
row=4
col=0

[B61B-CD3A]
row=0
col=0

[3EB6-CA65]
row=5
col=0

[Trash]
row=6
col=0

[/]
row=2
col=0

[/home/dom]
row=3
col=0

